body {
  max-width: 700px;
  margin: auto;
  width:90%;
  background-color: rgb(233, 233, 233);
  font-family: 'Roboto', sans-serif;
}

body > header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #28c9ae;
  padding: 1em;
  margin-top: 1em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

body > header > a > h1 {
  text-decoration: none;
  color:white;
  padding: 0.7em;
  margin: 0em;
}

body > header > a {
  text-decoration: none;
}

#todoListTitle {
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1em;
  display: flex;
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
  background-color: cornflowerblue;
}

#todoListTitle > p{
  margin-left: 36%; /*TODO: ASK TEACHER HOW TO PROPERLY CENTER THIS DAMN THING*/
  margin-top: 0;
  margin-bottom: 0;
  margin-right:0;
  flex-grow: 1;
  color: white;
  font-size: 1.1em;
}

#todoListTitle > a{
  color:white;
}


#registerForm {
  border-radius: 3px;
  background-color: #8029c7;  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 1em;
  padding: 1em;
}

#registerForm > form {
  margin: auto;
  max-width: 300px;
}

#registerForm >form > label {
  color: white;
}

#registerForm > form > input {
  width: 100%;
  margin-bottom: 1em;
} 

#user  {
  padding: 1em 0 1em 1em;
}

#user form {
  width: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#user input {
  padding: 0.1em;
}

#user div {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

#user a {
  text-decoration: none;
  padding-left: 0.5em;
  color: #0084c8;
  flex-grow: 1;
  text-align: center;
}

#lists {
  width: 100%;
}

#lists ul {
  display: flex;
  margin: 0;
  padding: 0;
}

#lists li {
  display: block;
  text-align: center;
  flex: 1;
}

#lists li:nth-child(1) {
  border-bottom-left-radius: 3px;
  background-color: #0084c8;
}

#lists li:nth-child(2) {
  background-color: #ffc022;
}

#lists li:nth-child(3) {
  border-bottom-right-radius: 3px;
  background-color: #dc0000;
}

#lists li div {
  padding:1em;
}

#lists li a {
  display: block;
  color: white;
  text-decoration: none;
}

#lists li div:hover {
  text-shadow:0px 0px 5px white;
}

@media only screen and (max-width: 500px) {
   #lists li div a:nth-child(2) {
        display:none;
   }
}

#todoList > ul {
  list-style-type:none;
  padding: 0em;
}

#todoList > ul > li > article {
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1em;
  display: flex;
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  transition: 0.2s;
}

#listLists > ul {
  list-style-type:none;
  padding: 0em;
}

#listLists > ul > li > article {
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1em;
  display: flex;
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}

.editTodoItemListItem {
  display: none;
}

#editTodoItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#editTodoItem > input:nth-child(1){
  margin-right: 1em;
  flex-grow: 1;
}

#error_login > p {
  margin: 0;
}

#user > a {
  color: white;
}

#addTodoList {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#addTodoList > input:nth-child(1){
  margin-right: 1em;
  flex-grow: 1;
}

#addTodoItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#addTodoItem > input:nth-child(1){
  margin-right: 1em;
  flex-grow: 1;
}

#todoList > ul > li > article > p {
  cursor: pointer;  
  margin: 0em;
  padding: auto;
  color: white;  
  flex-grow: 1;
}

#todoList > ul > li > article > a {
  color: white;
}

#listLists > ul > li > article > p {
  margin: 0em;
  padding: auto;
  color: white;  
  flex-grow: 1;
}

#listLists > ul > li > article > a {
  color: white;
}


body > footer{
  background-color: pink;
  border-radius: 3px;
}

body > footer > p {
  color: white;
  padding: 1em;
}



/* When clicked on, add a background color and strike out text */
#todoList >ul > li.checked > article {
  background-color: red;
  color: #fff;
  text-decoration: line-through;
}

#todoList >ul > li.ongoing > article {
  background-color: rgb(64, 28, 129);
  color: #fff;
}
